@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/* объявляем глабльные переменные*/
:root {
    --bs-link-color: #023945;
    --bs-link-hover-color:#f1592a;
}

.line {
    border-right: 2px solid #8d8d8d;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    height: 30px;
}



h1 {
    font-size: 40px;
    font-weight: bolder;
}
h2 {
    font-size: 40px;
    font-weight: normal;
}


h4 {
    color: #f1592a;
}


h6 {
    font-size: 1.3em;

    font-weight: normal;
}

i.bi {padding-right:0.4em;}

.border-33898a {border-color: #33898a !important;}


header {
    
}
    header .nav-link {color: #023945; font-size:14px;    }
    header .nav-link:hover {color: #f1592a !important;}
    header .top-menu {background-color: #6ac5be;}
    header .main-menu .nav-link {font-size:18px;color:#181818;}


.hot-cards .card {
    margin-top:1.5em;
    border:none;
}
.hot-cards .card-img-top {
    border-top-left-radius: 1.25em;
    border-top-right-radius: 1.25em;
  }
.hot-cards .card-footer:last-child {
    border-radius: 0 0 1.25em 1.25em;
    border-top:none;
}
.hot-cards a {color:black;text-decoration: none;}
.hot-cards a:hover {color:#f1592a;text-decoration: underline;}
.hot-cards .card-body p {
    color:#6b6b6b;
    font-size:14px;
    margin-bottom:0;
    margin-top:0.35em;}
    .hot-cards .card-body p strong {
        color:#f1592a;
    }
.hot-cards .card-footer {
    color:white;
    background-color: #fc9c74;
    font-size:14px;
}


.green-line {
    background-color: #419192;
    height: 0.5em;
    margin-top: 3em;
    margin-bottom: 0.5em;
    width: 100%;
}

.green-line1 {
    background-color: #419192;
    height: 0.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    width: 100%;
}

.section-buy span {
    color: #f1592a;
}

.section-buy ul {
    padding-left: 1em;
}

.thumb-wrap {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

}

.thumb-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.section-profit i {
    font-size: 2em;
}

.section-profit strong {
    color: #f1592a;
    display:block;
    line-height: 1.2em;
}

.hot-deald {
    background-color: #fecaa2;
}

.hot-deald span {
    color: #13484e;
}

.hot-deald p {
    font-size: 1.1em;
}

@media screen and (max-width: 1380px) {
    .call {
        visibility: hidden;
        display: none;
    }
}

.btn-color button {
    background-color: #f1592a;
    border: #f1592a;
}

.btn-color {
    font-size: 18pt;
}

.city-card {
    font-size: 0.8em;
}

.city-card h6 {
    font-size: 1.1em;
}

.city-card img {
    border-radius: 20px 20px 0 0;
}

.city-card span {
    color: #f1592a;
}

.money {
    background-color: #fc9c74;
    color: #ffffff;
    border-radius: 0 0 10px 10px;
    margin: 0;
}

.money p {
    font-size: 1.2em;
}

.money span {
    color: #ffffff;
    font-size: 0.6em;

}

.nav-tabs>li>a {
    color: #829597;
}

.nav-tabs>li>a:hover {
    color: #f1592a !important;
}

.message p {
    margin-top: 1em;
    font-size: 1.1em;
}

.message img {
    margin-right: 1em;
}

.message a {
    color: #335a5f;
    font-size: 16pt;

}

.message-link a {
    font-size: 16pt;
    color: #335a5f;
}

.message-link img {
    margin-right: 0.5em;
}

.message-link li {
    margin-right: 4em;
}

.fot-nav {
    background-color: #6ac5be;
}

.fot-nav h6 {
    margin-top: 2em;
    color: #13484e;
    margin-bottom: 1em;
}

.fot-nav p {
    margin: 0.5em;
}

.fot-nav a {
    color: #fff;
}

.cloud {
    margin-top: 5em;
}

.logo-white img {
    margin-top: 13em;
}

@media screen and (max-width: 1650px) {
    .clod {
        visibility: hidden;
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .logo-white {
        visibility: hidden;
        display: none;
    }
}

.part h6 {
    margin-top: 3em;
}

.fon-fyt {
    background-color: #33898a;
    font-size: 1.1em;
}

.fon-fyt h3 {
    color: #fff;
    font-size: 2.3em;
}

.fon-fyt p {
    color: #fff;
    font-size: 1.4em;
}

.end-block p {
    color: #fff;
    font-size: 1em;
}